<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="..\static\style.css">
    <script defer src="..\static\script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sam Curry">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Sam Curry's professional website">
    <title>Sam Curry</title>
</head>
<body>
    <header>
        <h1 id="webname">Sam Curry</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html">Home</a>
            <a href="cv.html" class="active">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr><th>Name</th><th>Description</th></tr>
            <tr><td>National Geospatial-Intelligence Agency</td><td>Obtained Top Secret security clearance after extensive background check.<br>
                Actively contributed to critical initiatives aimed at enhancing the security posture of sensitive systems and data.<br>
                Led collaborative demonstration of penetration testing techniques to other high school interns.<br>
                Gained valuable exposure to government cybersecurity practices and played an integral role in supporting the agency's mission.<br>
            </td></tr>
            <tr><td>Widelity</td><td>Researched O-RAN wireless technology and collaborated on a 4 person team to write a technical white paper for executive and engineering review.<br>
                Participated in hands-on demonstrations of the 4G/5G product suite at ComSovereign Labs and Cyber Innovation Labs of George Mason University.<br>
                Sharpened soft skills in a business environment and learned the basics of project management via training sessions.<br>        
            </td></tr>
            <tr><td>Sol Donum</td><td>Assembled and wired Vulcan Energy Store portable electric generators.<br>
                Accurately cataloged files and components.<br>
                Designed instruction manuals and filmed for promotional materials.<br>
                Gained first-hand experience with the professional organization and management of a start-up company.<br>       
            </td></tr>
        </table>
        <a href="C:\Users\curry\OneDrive\Documents\Personal\Carnegie Mellon University\Freshman Year\Second Semester\Information Systems Milieux\250_labs\scurry-lab1\static\Sam Curry_Resume.pdf" target="_blank">My resume, pdf version</a>
    </div>
    <footer>
        <p>Sam Curry &copy; 2024</p>
    </footer>
</body>
</html>